{% extends 'layout.html.twig' %}


{% block body %} 
<div class="row card" style="padding:30px;width:80%;">

    <h1 style="text-align:center;">Modifier RendezVous</h1>
<br>
<hr>
    {{ include('rendez_vous/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('rendez_vous/_delete_form.html.twig') }}
     
</div>

{% endblock %}
