<form method="post" action="{{ path('salaire_prof_delete', {'id': salaire_prof.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salaire_prof.id) }}">
    <button class="btn">Delete</button>
</form>
