{% extends 'layout.html.twig' %}


{% block body %} 
<div class="row card" style="padding:30px;width:80%;">

    <h1>Modifier Retard</h1>
<br>
<hr style="text-align:center;">
    {{ include('retard/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('retard/_delete_form.html.twig') }}
     
</div>

{% endblock %}
