{% extends 'layout.html.twig' %}


{% block body %} 
<div class="row card" style="padding:30px;width:80%;">

    <h1 style="text-align:center;">Ajouter Retard</h1>
<br>
<hr>
    {{ include('retard/_form.html.twig') }}
 
</div>

{% endblock %}
